
.messages {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.input {
    width: 100%;
    padding: 1em;
    border: 2px solid #a17fe0;
    border-radius: 5px 0px 0px 5px;
    font-family: 'Roboto Slab', serif;
}

.input:focus {
    outline: none;
}

.button {
    width: 20%;
    cursor: pointer;
    background-color: #a17fe0;
    border-radius: 0px 5px 5px 0px;
    border: 2px solid #a17fe0;
    font-family: 'Roboto Slab', serif; 
}

.button:disabled {
    width: 20%;
    cursor: not-allowed;
}


.button:hover:active {
    background-color: #a17fe0;
}